html {
  min-height: 100%;
  min-width: 100%;
  background-image: url('background.png');  
}
.App {
  text-align: left;
  padding: 20px;
}
.App .name {  
  padding-left: calc(max(0px, 50vw - 640px));
}