table.Board {
  rotate: 45deg;
  margin-left: calc((100vw - 510px)/2); 
  margin-top: calc((100vh - 510px)/2); 
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  border: solid black 4px;
  border-spacing: 6px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.Board .Cell {
  width: 80px;  
  height: 80px;  
  padding: 0px;
  border: 4px black solid;
}

.Board .Cell button {  
  width: 80px;  
  height: 80px;
  padding: 20px;
  border:0px;
  background: none;
  cursor:pointer
}

.Board .Cell:focus-within,
.Board .Cell:hover {  
  background-color: #55d400ff;
}

.Board .Cell button>div {
  rotate: -45deg;
  font-size:24px;
}

.Board .Theme {
  background-color: #55d400ff;
  text-align:center;
  border: 4px black solid;
}

.Board .Theme>* {
  margin: 0px;
  rotate: -45deg;
}

.Board th {
  padding: 20px;
  font-size: 22px;
}

.Board th.left {
  width: 120px;
  height: 40px;
  text-align: right;
  background-color: #f5a400;
  border: 4px black solid;
}

.Board th.right {
  width: 40px;
  height: 120px;
  writing-mode: vertical-rl;
  rotate: 180deg;
  text-align: left;
  background-color: #ffff00ff;
  border: 4px black solid;
}

.RefreshTheme {
  position: absolute;
  top: 50px;
  right: calc(max(50px, 50vw - 400px));
}

.RefreshTheme > button {
  width: 168px ;
  height: 168px;
  rotate: 45deg;
  background-color: white;
  border: 4px black solid;
  cursor: pointer;
  
  padding: 20px;
  text-align:center;
  border: 4px black solid;
  border-radius: 20px;
}

.RefreshTheme > button:focus,
.RefreshTheme > button:hover {
  background-color: #55d400ff;
}

.RefreshTheme > button > * {
  rotate: -45deg;
  font-size: 24px;
}

.ViewNumber {
  position: absolute;
  bottom: 50px;
  right: calc(max(50px, 50vw - 400px));
}

.ViewNumber > button {
  width: 168px ;
  height: 168px;
  rotate: 45deg;
  background-color: white;
  border: 4px black solid;
  cursor: pointer;
  
  padding: 20px;
  text-align:center;
  border: 4px black solid;
  border-radius: 20px;
}

.ViewNumber > button:focus,
.ViewNumber > button:hover {
  background-color: #55d400ff;
}

.ViewNumber > button > * {
  rotate: -45deg;
  font-size: 24px;
}


.ViewNumber > button > .revealed {
  display: none;
}

.ViewNumber > button:focus > .unrevealed,
.ViewNumber > button:hover > .unrevealed {
  display: none;
}

.ViewNumber > button:focus > .revealed,
.ViewNumber > button:hover > .revealed {
  display: block;
}
