table.Board {
  rotate: 45deg;
  margin-left: calc((100% - 510px)/2);   
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  border: solid black 4px;
  border-spacing: 6px;
}

.Board .Cell {
  width: 80px;  
  height: 80px;  
  padding: 0px;
  border: 4px black solid;
}

.Board .Cell button {  
  width: 80px;  
  height: 80px;
  padding: 20px;
  border:0px;
  background: none;
  cursor:pointer
}

.Board .Cell:focus-within,
.Board .Cell:hover {  
  background-color: #55d400ff;
}

.Board .Cell button>div {
  rotate: -45deg;
  font-size:24px;
}

.Board .Theme {
  background-color: #55d400ff;
  text-align:center;
  border: 4px black solid;
}

.Board .Theme>* {
  margin: 0px;
  rotate: -45deg;
}

.Board th {
  padding: 20px;
  font-size: 22px;
}

.Board th.left {
  width: 120px;
  height: 40px;
  text-align: right;
  background-color: #f5a400;
  border: 4px black solid;
}

.Board th.right {
  width: 40px;
  height: 120px;
  writing-mode: vertical-rl;
  rotate: 180deg;
  text-align: left;
  background-color: #ffff00ff;
  border: 4px black solid;
}

.DiamondButtons {
  max-width: 654px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: -76px;
}

.DiamondButtons button {
  width: 150px ;
  height: 150px;
  rotate: 45deg;
  background-color: white;
  border: 4px black solid;
  cursor: pointer;
  
  padding: 20px;
  text-align:center;
  border: 4px black solid;
  border-radius: 20px;
}

.DiamondButtons button > * {
  rotate: -45deg;
  font-size: 24px;
}

.RefreshTheme > button:focus,
.RefreshTheme > button:hover {
  background-color: #55d400ff;
}

.ViewNumber > button:focus,
.ViewNumber > button:hover {
  background-color: #55d400ff;
}

.ViewNumber > button > .revealed {
  display: none;
}

.ViewNumber > button:focus > .unrevealed,
.ViewNumber > button:hover > .unrevealed {
  display: none;
}

.ViewNumber > button:focus > .revealed,
.ViewNumber > button:hover > .revealed {
  display: block;
}

@media (min-width: 1080px) {
  table.Board {
    margin-top: calc(max(-150px, (50vh - 550px))); 
  }
}

@media (max-width: 1079px) {
  table.Board {
    margin-top: 110px; 
  }
}
