.instructions {
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-family: montserrat;
    box-sizing: border-box;
    gap: 20px;
}

.instructions h1 {
    font-weight: 800;
    font-size: 24px;    
}

.instructions h2 {
    font-weight: 800;
    font-size: 24px;    
}

.instructions .text-box {
    border: 4px solid black;
    border-radius: 20px;
    background-color: #fffffff6;
    padding: 25px 50px;
    box-sizing: border-box;
    font-size: 24px;
    line-height: 1.5;
    text-align:justify;
}

.spacer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.spacer > .left-column {
    flex: 1;
}

.spacer > img {
    flex: 1;
    max-width: 100%;
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.small-only {
    display: none;
}

.mode-spacer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.cards, .hands {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    flex: 1; /* Ensures equal width in two-column layout */
    max-width: 500px; /* Prevents sections from getting too wide */
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
}

.cards {
    background-color: #ffff00ff;
}

.hands {
    background-color: #f5a400;
}

/* Responsive Design */
@media (max-width: 1240px){
    .instructions .text-box {
        font-size: 18px;
        padding: 0px 20px;
    }

    .instructions .text-box.image-final {
        padding-bottom: 20px;
    }

    .instructions h1 {
        font-size: 18px;
    }

    .instructions h2 {
        font-size: 18px;
    }

    .spacer {
        display: flex;
        flex-direction: column;        
    }
    
    .spacer > .left-column {
        flex: none;
    }
    
    .spacer > img {
        flex: none;
        margin-left:auto;
        margin-right:auto;
    }
    
    .left-column {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .small-only {
        display: block !important;
    }

    .large-only {
        display: none;
    }
}